<% if current_user.user_type == "Borrower" %>
<div class="chat-room-wrapper">
  <%= render "shared/avatar", user: chatroom.loan.user %>
  <div class="title-room-wrapper margin-right-20px">
    <h2> <%= "#{chatroom.loan.user.last_name} #{chatroom.loan.user.first_name}" %></h2>
    <p class = "light">#<%= "#{chatroom_amount} € loan for #{chatroom_category}" %></p>
  </div>
</div>
<% else %>
 <div class="chat-header-wrapper header">
    <%= render "shared/avatar", user: chatroom.borrower %>
     <div class="user-name margin-left-20px">
   <h2> <%= "#{chatroom.borrower.last_name} #{chatroom.borrower.first_name}" %></h2>
    <p class = "light">#<%= "#{chatroom_amount} € loan for #{chatroom_category}" %></p>
  </div>
 </div>
<% end %>
