<<<<<<< HEAD
<div class = "container summary-pages"
  data-controller="chatroom-subscription summmary-pages"
=======
<!-- app/views/chatrooms/show.html.erb -->
<div class="container summary-pages"
  data-controller="chatroom-subscription"
>>>>>>> ae15127f6598acb8e34755bb80e9633d49afa785
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
>
<<<<<<< HEAD
  <% if current_user.user_type == "lender" %>
    <%= render "shared/back_navigation",path: dashboard_lender_path %>
  <% else %>
    <%= render "shared/back_navigation",path: dashboard_borrower_path %>
  <% end  %>
  <div class="chat-header-wrapper header">
    <div class="user-name margin-left-20px">
      <h2> <%= "#{current_user.last_name} #{current_user.first_name}" %></h2>
       <p class = "light">#<%= "#{@chatroom_amount} € loan for #{@chatroom_category}" %></p>
=======
  <h1>#<%= "#{@chatroom_amount} € loan for #{@chatroom_category}" %></h1>
>>>>>>> ae15127f6598acb8e34755bb80e9633d49afa785

  <div class="messages"
        data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
      <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <%= simple_form_for [@chatroom, @message],  html: {class: "d-flex"} do |f|%>
    <%= f.input :content,
      label: false,
      placeholder: "Message",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>

<% console() %>
