<div class="container summary-pages">
  <!-- Building the left arrow container which is a link that redirect towards-->
  <%= render "shared/back_navigation", path: new_loan_loan_request_path(@loan_request.loan_id)  %>
    <!-- Title -->
        <h1 class = "light" >Summary</h1>
        <h2>Loan request resume</h2>
      <!-- Display alert message -->
      <div class="notice-box notice_box_purple">
        <% if @loan.payment_frequency = "monthly" %>
          <% number_of_payments = @loan.payback_time %>
        <% elsif @loan.payment_frequency = "weekly" %>
          <% number_of_payments = @loan.payback_time * 4 %>
        <% end %>
        You will receive <%= @loan.instant_loan ? "an instant loan" : "a manually-approved loan" %>
        of <%= @loan.amount.to_i %> FCFA, with <%= number_of_payments %> <%= @loan.payment_frequency %>
        payments of <%= @loan.amount.to_i / number_of_payments %> FCFA each, in total you will pay back
        <%= @loan.amount.to_i * (1 + (@loan.interest_rate.to_f / 100)) %> FCFA.
      </div>
    <!-- Add a wrapper div to encapsulate the list and the button and apply a display css
    to push the button at the end dof the page -->
    <div class="wrapper ">
      <!-- Display the loan request resume-->
      <div class="loan-resume">
          <div class="list-box">
          <div class="list-item">
          <div>Description</div>
          <div><%= @loan_request.description %></div>
        </div>
        <div class="list-item">
          <div>Amount</div>
          <div><%= @loan.amount.to_i %> FCFA</div>
        </div>
        <div class="list-item">
          <div>Payment Duration</div>
          <div><%= @loan.payback_time %> months</div>
        </div>
        <div class="list-item">
          <div>Payment Frequency</div>
          <div><%= @loan.payment_frequency %></div>
        </div>
        <div class="list-item">
          <div>Interest Rate</div>
          <div><%= @loan.interest_rate.to_i %>%</div>
        </div>
        <div class="list-item">
          <div>Category</div>
          <div><%= @loan.loan_category %></div>
        </div>
        <div class="list-item">
          <div>Approval</div>
          <div><%= @loan.instant_loan ? "Auto" : "Manual" %></div>
        </div>
      </div>
    </div>
    <!-- Button-->
    <div class="next-button">
    <%= link_to "CONFIRM", dashboard_lender_path(current_user), class: "btn button-text-center" %>
    </div>
  </div>
</div>
