<% current_user.loans.each do |loan| %>
      <%= link_to loan_path(loan) do %>
        <div class="card-loan-lender">
          <h1><span class="purple-text"><%= loan.amount.to_i %> FCFA</span> Loan for <%= loan.loan_category %></h1>
          <div class="wrapper">
            <div class="wrapper-info">
              <p>Interest rate<p>
              <p class="description"><%= loan.interest_rate %> %</p>
            </div>
            <div class="wrapper-info">
              <p>Duration<p>
              <p class="description"><%= loan.payback_time %> days</p>
            </div>
            <div class="loan-status" >
              <p><%= loan.status %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
