<div class="container dashboard">
   <div class="wrapper-head">
    <div class="row">
      <h1>Hello <%= current_user.first_name %></h1>
      <%= button_to destroy_user_session_path, class: "transparent", method: :delete do %>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar avatar__large" %>
        <% else %>
          <%= image_tag "avatar-icon.png", class: "avatar, avatar__large" %>
        <% end %>
      <%end%>
    </div>
    <p>Already have the funding for your needs?</p>
  </div>

  <div class="wallet">

    <div class="wallet-card">
      <h2>Your Wallet</h2>
      <h1><%= @amount.to_i %> €</h1>
      <%= render "shared/wallet_pages" %>
    </div>

    <div class="wallet-buttons">
      <%= link_to "Withdraw", new_withdrawal_request_path, class:"btn" %>
      <%= link_to "Deposit", new_deposit_path, class:"btn"  %>
    </div>

  </div>

  <div class="wrapper-main">
    <h2>Find your perfect loan</h2>
    <%= render "shared/button_dashboard_cta_search" %>
  </div>
  <div class="wrapper-main">
    <h2>Your Loans</h2>
    <% if current_user.loan_requests.nil? %>
      <p class="gray"><%="No Loans yet"%></p>
    <% end %>
    <%= render "shared/cards_loan_borrower" %>
  </div>
</div>
