<div class="container dashboard">
   <div class="wrapper-head">
    <div class="row" data-controller="avatar-dropdown">
      <h1>Hello <%= current_user.first_name %></h1>
       <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar avatar__large", data: { action: "click->avatar-dropdown#showMenu" } %>
      <% else %>
        <%= image_tag "avatar-icon.png", class: "avatar avatar__large" %>
      <% end %>
      <div class="user_popup d-none"
        data-target="avatar-dropdown.popup-menu">
        hello
      </div>
    </div>
    <p>Already invested in other people’s future today?</p>
  </div>

  <div class="wallet">

    <div class="wallet-card">
      <h2>Your Wallet</h2>
      <h1><%= @amount.to_i %> €</h1>
      <%= render "shared/wallet_pages" %>
    </div>

    <div class="wallet-buttons">
      <%= link_to new_withdrawal_request_path do %>
        <div class="wallet-button">
          <%= image_tag "icon-deposit.svg" %>
          <p>Deposit</p>
        </div>
      <% end %>
      <%= link_to new_deposit_path do %>
        <div class="wallet-button">
          <%= image_tag "icon-withdraw.svg" %>
          <p>Withdraw</p>
        </div>
      <% end %>
      <%= link_to portfolio_path do %>
        <div class="wallet-button">
          <%= image_tag "icon-portfolio.svg" %>
          <p>Portfolio</p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="wrapper-main">
    <h2>Get your money working for you</h2>
    <%= render "shared/button_dashboard_cta_create" %>
  </div>
  <div class="wrapper-main">
    <h2>Your Loans</h2>
    <% if current_user.loans.count == 0 %>
      <p class="gray">No loans yet</p>
    <% end %>
    <%= render "shared/cards_loan_lender" %>
  </div>
</div>
