<div class="container wallet-show">
    <% if current_user.user_type == "Lender"  %>
      <%= render "shared/back_navigation", path: dashboard_lender_path(@user)  %>
      <% else %>
      <%= render "shared/back_navigation", path: dashboard_borrower_path(@user)  %>
    <% end %>
      <h1 class = "light">Wallet</h1>

  <div class="wallet">

    <div class="wallet-card">
      <h2>Current Balance</h2>
      <h1><%= current_user.wallet.amount.to_i %> €</h1>
      <%= render "shared/wallet_pages" %>
    </div>

    <div class="wallet-buttons">
      <%= link_to new_deposit_path do %>
        <div class="wallet-button">
          <%= image_tag "icon-deposit.svg" %>
          <p>Deposit</p>
        </div>
      <% end %>
      <%= link_to new_withdrawal_request_path do %>
        <div class="wallet-button">
          <%= image_tag "icon-withdraw.svg" %>
          <p>Withdraw</p>
        </div>
      <% end %>
      <%= link_to transactions_path do %>
        <div class="wallet-button">
          <%= image_tag "icon-portfolio.svg" %>
          <p>Transactions</p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="title-container align-title">
    <h2>Your transactions</h2>
    <p><%= link_to "all transactions", transactions_path %></p>
  </div>
  <% @all_transactions.each do |transactions| %>
    <% if transactions.class.name == "WithdrawalRequest"%>
      <p > <% amount = transactions.amount*-1 %></p>
    <% else %>
      <p ><% amount = transactions.amount %></p>
    <% end %>
  <div class = "transaction-container col align-element card-loan">
    <div class="row1 display-card-item">
  <%# if transactions.status = "Pending" then color should be grey.
  if transactions.class.name = "WithdrawalRequest" then color should be red.
  if transactions.class.name = "Deposit" then color should be green. %>
    <%if transactions.status == "Approved" && transactions.class.name == "WithdrawalRequest" %>
      <h2 class = "red-transaction" ><%= "#{number_with_precision(amount, precision: 2)} €"%></h2>
    <% elsif transactions.status == "Approved" && transactions.class.name == "Deposit" %>
      <h2 class = "green-transaction" ><%= "#{number_with_precision(amount, precision: 2)} €"%></h2>
    <% elsif %>
      <h2 class = "pending-transaction" ><%= "#{number_with_precision(amount, precision: 2)} €"%></h2>
    <% end %>

      <p class ="small"><%=transactions.created_at.strftime('%a, %d %b %Y %H:%M:%S')%></p>
     </div>
    <div class="row2 display-card-item-right">
      <% bank_account = transactions.class != Transfer ? BankAccount.find(transactions.bank_account_id) : "No Name Bank"  %>
      <% bank_account_type = transactions.class != Transfer ? bank_account.bank_type : "No Name Bank" %>
      <h2><%= bank_account_type %></h2>
      <p class = "transaction-status"><%=transactions.status%></p>
    </div>
  </div>
  <% end %>

</div>
