<div class="container dashboard">
   <div class="wrapper-head">
    <div class="row">
      <h1>Hello <%= current_user.first_name %></h1>
      <%= image_tag "avatar-icon.png", class: "avatar" %>
    </div>
  </div>

  <div class="wallet">

    <div class="wallet-card">
      <h2>Your Wallet</h2>
      <h1><%= @amount.to_i %> €</h1>
      <%= render "shared/wallet_pages" %>
    </div>

    <div class="wallet-buttons">
      <%= button_to "Cash out", "#" , class:"btn" %>
      <%= button_to "Cash in",  "#" , class: "btn" %>
    </div>
  </div>
  <div class="title-container align-title">
    <h2>Your transactions</h2>
    <p>All transactions</p>
  </div>
  <% @all_transactions.each do |transactions| %>
    <%# If transaction status is pending and transaction.status is WithdrawalRequest
    then amount should be negatif and in grey color else should be positif and grey %>
    <% if transactions.class.name == "WithdrawalRequest" && transactions.status = "pending" %>
      <p class = "pending-transaction"> <% amount = transactions.amount*-1  %></p>
    <% end %>
      <% if transactions.class.name == "Deposit" && transactions.status = "pending" %>
      <p class = "pending-transaction"> <% amount = transactions.amount*-1  %></p>
    <% end %>
      <%# If class = WithdrawalRequest then red else green  %>
    <% if transactions.class.name == "WithdrawalRequest" && transactions.status != "pending"%>
      <p  class= "red-transaction"> <% amount = transactions.amount*-1 %></p>
    <% else %>
      <p class = "green-transaction"><% amount = transactions.amount %></p>
    <% end %>


  <div class = "transaction-container col align-element card-loan">
    <div class="row1 display-card-item">
      <p><%=amount%></p>
      <p><%=transactions.created_at.strftime('%a, %d %b %Y %H:%M:%S')%></p>
     </div>
    <div class="row2 display-card-item-right">
      <p><%=transactions.bank_account_id if transactions.bank_account_id.present?%></p>
      <p class = "transaction-status"><%=transactions.status%></p>
    </div>
  </div>
  <% end %>

</div>

<%= render "shared/navbar" %>
