<div class="container dashboard">
   <div class="wrapper-head">
    <div class="row">
      <h1>Hello <%= current_user.first_name %></h1>
      <%= image_tag "avatar-icon.png", class: "avatar" %>
    </div>
  </div>

  <div class="wallet">

    <div class="wallet-card">
      <h2>Your Wallet</h2>
      <h1><%= @amount.to_i %> €</h1>
      <%= render "shared/wallet_pages" %>
    </div>

    <div class="wallet-buttons">
      <%= button_to "Cash out", "#" , class:"btn" %>
      <%= button_to "Cash in",  "#" , class: "btn" %>
    </div>
  </div>
  <div class="title-container">
    <h2>Get your money working for you</h2>
    <h2>All transactions</h2>
  </div>
  <% @all_transactions.each do |transactions| %>
    <% if transactions.class.name == "WithdrawalRequest" %>
      <% amount = transactions.amount*-1 %>
    <% else %>
      <% amount = transactions.amount %>
    <% end %>
  <div>
     <p><%=amount%></p>
     <p><%=transactions.created_at.strftime("%d %B %Y")%></p>
     <p><%=transactions.status%></p>
     <%# <p><%=transactions.bank_account_id if transactions.bank_account_id.present?%>
  </div>
  <% end %>

</div>

<%= render "shared/navbar" %>
