
<div class="cards-container">
      <% loans.each do |loan| %>
        <%= link_to loan_path(loan) do %>
          <div class = "card-loan-search">
            <div class= "wrapper">
              <h1><span class="purple-text"><%= loan.amount.to_i %> € Loan</span> for <%= loan.loan_category %></h1>

              <div class= "wrapper-content">
                <% payback_months = (loan.payback_time / 30).to_i %>

                <div class="wrapper-info">
                  <p>Interest rate<p>
                  <p class="gray-text"><%= loan.interest_rate %> %</p>
                </div>

                <div class="wrapper-info">
                  <p>Duration<p>
                  <p class="gray-text"><%= loan.payback_time %> days</p>
                </div>

                <div class="wrapper-info">
                  <p>Payback<p>
                  <p class="gray-text"><%= loan.payment_frequency %></p>
                </div>
              </div>

            </div>

            <div>
              <% if loan.user.photo.attached? %>
                <%= cl_image_tag loan.user.photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag "avatar-icon.png", class: "avatar" %>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>
