
  <%= render "shared/back_navigation", path: dashboard_lender_path %>

  <%# TITLE %>
  <h1 class="light"><%= number_with_precision(loan.amount, precision: 2, strip_insignificant_zeros: true)%> € Loan for <%= loan.loan_category %></h1>

  <%# NOTICE BOX %>
  <div class="wrapper-main">
    <div class="notice-box">
        <p>Your loan is currently <span class="bold"><%= loan.status.downcase %></span>.
        <% if loan.status == "Pending" %>
          <span>It will not be listed until the loan is sufficiently funded in your wallet.</span>
        <% elsif loan.status == "Listed" %>
          <span>It can be seen by potential borrowers.</span>
          <% if loan.instant_loan %>
            <span>As you set "Approval" to "Auto" the borrower request will be accepted automatically. The loan amount will be immediatly transferred to the borrower.</span>
          <% else %>
            <span>As you set the "Approval" to "Manual", borrower requests will not be accepted automatically. Instead they will be shown below and require you to accept or decline.</span>
          <% end %>
        <% elsif loan.status == "Active" %>
          <span>You can connect to the loan recipient through the chat.</span>
        <% elsif loan.status == "Closed" %>
          <span></span>
        <% end %>
        </p>
      </div>
    </div>
<%# BORROWER INFO %>
  <% if loan.status == "Active" %>
  <div class="wrapper-main">
    <% loan_request = LoanRequest.find_by(loan: loan) %>
    <h2>Borrower</h2>
      <div class="card-request-approval">
        <div class="wrapper-content">
          <div class="wrapper-user">
            <%= link_to loan_request_borrower_profile_path(loan_request_id: loan_request.id, id: loan_request.user.id) do %>
              <%= render "shared/avatar_large", user: loan_request.user %>
              <% end %>
            <div class="wrapper-user-info">
              <p><%= loan_request.user.first_name %> <%= loan_request.user.last_name %><br>
                <%= loan.user.address %>
              </p>
            </div>

              <%# IF STATUS ONE OF ARRAY THEN SHOW STATUS OTHERWISE SHOW NOTHING UNTIL BUTTON CLICKED %>
                <% if loan_request.accepted_at != nil %>
                  <div class="loan-status" id="db-status" data-loan-approval-target="statusbutton">
                    <p>Accepted<br><%= loan_request.accepted_at.strftime("%d/%m/%Y") %></p>
                  </div>
                <% end %>
                <%= link_to chatroom_path(loan.chatroom) do %>
                <%= image_tag "icon-chat.svg", id: "chat" %>
                <% end %>
          </div>
          <p class= "gray-text">"<%= loan_request.description %>"</p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="wrapper-main">
    <h2>Details</h2>
    <%# LOAN SUMMARY %>
    <%= render "loans/show_basic_info", loan: loan %>
    <p class="gray-text">Please note this investment can only be claimed after the expect yield date is due. The interest rates are fixed and the loan has no collateral attached.</p>
  </div>

  <%# LOAN PAYMENTS %>
  <% if loan.status == "Active" %>
    <div class="wrapper-main">
      <h2>Payments</h2>
      <% if @loan_payments.length > 0 %>
        <%= render "loans/show_payment_info", loan: loan %>
      <% else %>
        <p>No payments for this loan.</p>
      <% end %>
    </div>
  <% end %>

  <%# LOAN REQUESTS %>
  <div class="wrapper-main">
    <%= render "loans/show_lender_loan_requests", loan: loan %>
  </div>

