<% if loan.status == "Active" %>
  <h2>Requests History</h2>
<% else %>
  <h2>Loan Requests</h2>
<% end %>
<%# IF NOT LOAN REQUESTS %>
<% loan_requests = loan.loan_requests.order(:status, created_at: :desc) %>
    <% loan_active = loan_requests.where(status: "Active") %>
    <% loan_requests -= loan_active %>
<% if loan_requests.count == 0|| loan.loan_requests.count == 0 %>
  <p class="gray">No requests</p>

<%# IF LOAN REQUESTS EXIST %>
<% else %>

  <div data-controller="loan-approval" >
    <% loan_requests.each do |loan_request| %>
        <div class="card-request-approval" url= "<%= loan_request_path(loan_request)  %>">
          <%= link_to loan_request_borrower_profile_path(loan_request_id: loan_request.id, id: loan_request.user.id), id:"content-link" do %>
          <div class="wrapper-content">
            <div class="wrapper-user">
              <%= render "shared/avatar_large", user: loan_request.user %>
                <div class="wrapper-user-info">
                  <p>by <%= loan_request.user.first_name %> <%= loan_request.user.last_name %><br>
                    <%= loan.user.address %>
                  </p>
                </div>
                <%# IF STATUS ONE OF ARRAY THEN SHOW STATUS OTHERWISE SHOW NOTHING UNTIL BUTTON CLICKED %>
                <% if ["Active", "Declined", "Closed", "Cancelled"].include? loan_request.status %>
                  <div class="loan-status" id="db-status" data-loan-approval-target="statusbutton">
                  <p><%= loan_request.status%>

                  <% if loan_request.status == "Active" && loan_request.accepted_at != nil %>
                    <br><%= loan_request.accepted_at.strftime("%d/%m/%Y") %></p>
                  <% elsif loan_request.status == "Declined" && loan_request.declined_at != nil %>
                    <br><%= loan_request.declined_at.strftime("%d/%m/%Y") %></p>
                  <% else %>
                    </p>
                  <% end %>

                  </div>
                <% else %>
                  <div class="loan-status d-none" id="status" data-loan-approval-target="statusbutton">
                  </div>
                <% end %>

            </div>
            <p class= "gray-text">"<%= loan_request.description %>"</p>
          </div>
          <% end %>

          <%# ONLY SHOW BUTTONS IF NOT ONE OF ARRAY %>
          <% if ["Active", "Declined", "Closed", "Cancelled"].include? loan_request.status %>
          <% else %>
            <div class="wrapper-buttons" data-loan-approval-target="buttons">
              <button data-action="click->loan-approval#accept"><i class="fas fa-check"></i></button>
              <button data-action="click->loan-approval#decline"><i class="fa-regular fa-x"></i></button>
            </div>
          <% end %>
        </div>

    <% end %>
  </div>
<% end %>
