<div class="container">
  <h1 class="light">Payment Details</h1>
  <p>Not sure what you're looking for? See recommendations!</p>
  <div data-controller="search-loans">
    <%= simple_form_for :loan, url:loans_path, method: "get",
    data: {search_loans_target: "form"} do |f| %>
      <p><label><strong>How much?</strong></label></p>
      <input type="range"
              min="0"
              max="1000"
              step="10"
              value="<%= params ? params[:amount] : 500 %>"
              class="slider"
              data-action="input->search-loans#updateAmount"
              data-target="search-loans.amountSlider"
              name="amount">
      <div data-target="search-loans.amountShow"></div>
      <p><label><strong>How long?</strong></label></p>
      <input type="range"
              min="0"
              max="6"
              step="1"
              value="<%= params ? params[:length] : 500 %>"
              class="slider"
              data-action="input->search-loans#updateLength"
              data-target="search-loans.lengthSlider"
              name="length">
      <div data-target="search-loans.lengthShow"></div>
      <%# <input type="checkbox" id="education" name="education">
      <label for="education">Education</label>
      <input type="checkbox" id="healthcare" name="healthcare">
      <label for="education">Health Care</label>
      <input type="checkbox" id="business" name="business">
      <label for="education">Business</label> %>
      <%= f.input :loan_category, as: :check_boxes, collection: Loan::LOAN_CATEGORIES,
      input_html: {data: {action: "click->search-loans#updateCategory", search_loans_target: "categories"}} %>
      <p><%= f.submit %></p>
    <% end %>
    <div data-search-loans-target="list">
      <%= render "loans", loans: @loans %>
    </div>
  </div>
</div>

<%= console %>
