<div class="container loan-index" data-controller="search-loans">
  <%= render "shared/back_navigation", path: dashboard_borrower_path %>
  <h1 class="light">Loan Search</h1>
  <p class="padding-bottom">Not sure what you're looking for? See recommendations!</p>
  <%= simple_form_for :loan, url:loans_path, method: "get",
  data: {search_loans_target: "form"} do |f| %>
    <p><label class = "filter-title">How much? (minimum amount)</label></p>
    <div class="slider_wrapper">
      <input type="range"
              min="0"
              max="1000"
              step="10"
              value="0"
              class="slider slider-progress"
              data-action="input->search-loans#updateAmount"
              data-target="search-loans.amountSlider"
              name="amount">
      <div data-target="search-loans.amountShow">0 €</div>
    </div>
    <p><label class = "filter-title">How long? (maximum length)</label></p>
    <div class="slider_wrapper">
      <input type="range"
              min="0"
              max="24"
              step="1"
              value="24"
              class="slider slider-progress"
              data-action="input->search-loans#updateLength"
              data-target="search-loans.lengthSlider"
              name="length">
      <div data-target="search-loans.lengthShow">24 months</div>
    </div>
    <%# <input type="range" min="0" max="100" oninput="rangevalue.value=value"/>
    <output id="rangevalue">50</output> %>
    <%= f.input :loan_category, as: :check_boxes, collection: Loan::LOAN_CATEGORIES, item_wrapper_class: 'tag-item',
    input_html: {class: "tag-selector", data: {action: "click->search-loans#updateCategory",search_loans_target: "categories"}} %>
    <p>
      <%# <%= f.submit %>
    </p>
  <% end %>
  <div data-search-loans-target="list">
    <%= render "loans", loans: @loans %>
  </div>
</div>


<script>
  for (let e of document.querySelectorAll('input[type="range"].slider-progress')) {
    e.style.setProperty('--value', e.value);
    e.style.setProperty('--min', e.min == '' ? '0' : e.min);
    e.style.setProperty('--max', e.max == '' ? '100' : e.max);
    e.addEventListener('input', () => e.style.setProperty('--value', e.value));
  }
</script>
