<div class="container new-loan summary-pages">
  <%= render 'shared/back_navigation' %>
  <div class="header">
    <h1 class = "light" >Create a loan</h1>
  </div>
  <div class="flex">
    <div class="selector-field">
      <div class="title">
        <p>How much money do you want to lend?</p>
      </div>
      <div class="flex-selectors">
        <div class="selector">
          <button class="select-button">1000 NFCP</button>
        </div>
        <div class="selector">
          <button class="select-button">2000 NFCP</button>
        </div>
        <div class="selector">
          <button class="select-button">3000 NFCP</button>
        </div>
        <div class="selector">
          <button class="select-button">4000 NFCP</button>
        </div>
        <div class="selector">
          <button class="select-input">Enter amount</button>
        </div>
      </div>
    </div>
    <%= simple_form_for @loan do |f| %>
    <div class="dropdown">
      <%= f.input :payback_time, label: 'Payment Duration', as: :select, :collection => %w[Month Quater Year], prompt: 'Week' %>
    </div>
    <div class="dropdown">
      <%= f.input :payment_frequency, label: 'Payment Frequency', as: :select, :collection => %w[Monthly Quaterly Yearly], prompt: 'Weekly' %>
    </div>
    <div class="input">
      <%= f.input :interest_rate, label: 'What is the Interest rate that you expect ?', error: 'Interest rate is mandatory, please specify one' %>
    </div>
    <div class="dropdown">
      <%= f.input :loan_category, label: 'For which project do you want to loan your money for ?', as: :select, :collection => %w[Health Insurance Business], placeholder: 'Select', prompt: 'Education' %>
    </div>
    <div class="dropdown">
      <%= f.input :instant_loan, label: 'How do you want to approve the loan?', as: :select, :collection => %w[Manual], placeholder: 'Select', prompt: 'Auto' %>
    </div>
    <div class="button">
      <%= f.button :submit %>
    </div>
    <% end %>
    <button class="button">NEXT</button>
  </div>
</div>
