<div class="container new-loan summary-pages">
  <%= render 'shared/back_navigation', path: dashboard_lender_path %>
  <div class="header">
    <h1 class = "light">Create a loan</h1>
  </div>
  <div class="flex" data-controller="create-loan">
      <div class="title">
        <p>How much money do you want to lend?</p>
      </div>
        <%= simple_form_for (@loan) do |f| %>
        <div class="flex-selectors">
          <div class="radio-botton select-button">
            <%= f.radio_button :amount, 1000, data: {create_loan_target: "botton", action: "change->create-loan#updateAmount"} %>
            <%= f.label :amount, "1000 €", data: {create_loan_target: "label"} %>
          </div>
          <div class="radio-botton select-button">
            <%= f.radio_button :amount, 2000, data: {create_loan_target: "botton", action: "change->create-loan#updateAmount"} %>
            <%= f.label :amount, "2000 €", data: {create_loan_target: "label"} %>
          </div>
          <div class="radio-botton select-button">
            <%= f.radio_button :amount, 3000, data: {create_loan_target: "botton", action: "change->create-loan#updateAmount"} %>
            <%= f.label :amount, "3000 €", data: {create_loan_target: "label"} %>
          </div>
          <div class="radio-botton select-button">
            <%= f.radio_button :amount, 4000, data: {create_loan_target: "botton", action: "change->create-loan#updateAmount"} %>
            <%= f.label :amount, "4000 €", data: {create_loan_target: "label"} %>
          </div>
          <div class="select-input purple-background">
            <%= f.input :amount, placeholder: 'Enter amount', label: false, class: "create-input", input_html: { data: {create_loan_target: "input", action: "focus->create-loan#removeColor"}} %>
          </div>
        </div>
        <div class="dropdown">
          <%= f.input :payback_time, label: 'Loan Duration', as: :select, :collection => %w[Week Month Quarter Year], prompt: 'Select' %>
        </div>
        <div class="dropdown margin-bottom">
          <%= f.input :payment_frequency, label: 'Payment Frequency', as: :select, :collection => %w[Monthly Quarterly], prompt: 'Select' %>
        </div>
        <div class="input">
          <%= f.input :interest_rate, label: 'What is the Interest rate that you expect ?', error: 'Interest rate is mandatory, please specify one' %>
        </div>
        <div class="dropdown">
          <%= f.input :loan_category, label: 'For which project do you want to loan your money for ?', as: :select, :collection => %w[Education Health Insurance Business Emergency Any], prompt: 'Select' %>
        </div>
        <div class="dropdown">
          <%= f.input :instant_loan, label: 'How do you want to approve the loan?', as: :select, :collection => %w[Manual Auto], prompt: 'Select' %>
        </div>
          <%= f.button :submit, 'Next'%>
      <% end %>
  </div>
</div>
