<div class="container new-forms">
  <%= render "shared/back_navigation", path: current_user.user_type = "lender" ? dashboard_lender_path : dashboard_lender_path %>
  <h1 class = "light">Let's transfer money!</h1>
  <h2>How much would you like to withdraw?</h2>
  <div class="wrapper-wallet">
    <div class="wrapper-wallet-amount">
      <p>Current Balance: <%= current_user.wallet.amount.round %> €</p>
    </div>
    <%= simple_form_for @withdrawal_request do |f| %>
    <div class="text-input-wrapper">
      <%= f.text_field :amount, class: "amount-input", placeholder: "enter amount" %>
    </div>
  </div>
  <% @bank_accounts.each do |bank_account| %>
    <div class="category-item">
      <input class="form-check-input radio_buttons required category-selector" type="radio" value="<%= bank_account.id %>" name="withdrawal_request[bank_account_id]" id=<%= bank_account.id %> >
      <label class="form-check-label collection_radio_buttons wrapper" for="<%= bank_account.id %>">
        <div class="image-wrapper">
        <% if bank_account.bank_type == "Bank" %>
          <%= image_tag("icon-bank.svg", :alt => "rss feed") %>
        <% else %>
          <%= image_tag("Orange-Money-logo.jpg", :alt => "rss feed") %>
        <% end %>
        </div>
        <div class="bank-details">
          <p><%= bank_account.bank_name %></p>
          <p class="gray-text"><%= bank_account.account_number %></p>
        </div>
      </label>
    </div>
  <% end %>
   <div class="button">
    <%= f.button :submit, 'Next'%>
  </div>
  <%# <div class="btn">
    <button form="new_withdrawal_request" >Next</button>
  </div> %>
  <% end %>
</div>
