<div class="container new-forms">
  <div class="header">
    <h1 class = "light">Let's transfer money!</h1>
  </div>
  <div class="wrapper">
    <p>Current balance: </p>
    <p class="wallet-amount">&nbsp;&nbsp;<%= current_user.wallet.amount.round %> €</p>
  </div>
  <h2>How much would you like to deposit?</h2>
  <%= simple_form_for @deposit do |f| %>
  <%= f.input :amount %>
  <%= f.collection_radio_buttons :bank_account_id, @bank_accounts, :id, :bank_name,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'} %>

  <%# <%= f.input :bank_account_id,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: @banks %>
  <div class="button">
    <%= f.button :submit, 'Next'%>
  </div>
  <% end %>
</div>
