<!DOCTYPE html>
<html>
  <head>
    <title>Nnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  </head>

  <body>
      <div><%= notice%></div>
      <div><%= alert %></div>
    <div id="flash" data-controller="alert" data-controller="loan-approval" data-alert-target="flash">
      <div id="alert" class="d-none"></div>
      <%= render "shared/flash" %>
    </div>
    <%= yield %>
  </body>
</html>
